name: CI
on: [pull_request]

jobs:
  build:
    runs-on: macOS-26

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Read Xcode version
        id: xcode_version
        run: echo "XCODE_VERSION=$(cat .xcode-version)" >> $GITHUB_ENV

      - name: Setup Xcode using .xcode-version
        uses: maxim-lobanov/setup-xcode@7f352e61cbe8130c957c3bc898c4fb025784ea1e
        with:
          xcode-version: ${{ env.XCODE_VERSION }}

      - name: Bundle install
        run: bundle install

      - name: Run iOS tests
        run: make test-ios

      - name: Run macOS tests
        run: make test-macos

      - name: Danger action
        uses: MeilCli/danger-action@75f0dfd054a4a777470d1c473ad8a14716648f42
        if: github.event_name == 'pull_request'
        with:
          plugins_file: 'Gemfile'
          install_path: 'vendor/bundle'
          danger_file: 'Dangerfile'
          danger_id: 'danger-pr'
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          verbose: true
